COMPANY_SCRAPPER=claude
JOBS_SCRAPPER=deepseek

DEEPSEEK_BASE_URL="https://api.deepseek.com/anthropic"
DEEPSEEK_API_KEY=

CLAUDE_BASE_URL="https://api.anthropic.com"
CLAUDE_API_KEY=

DATABASE_URL="postgresql://aanish:axnish1027@localhost:5432/db_jobswala?schema=public"

REDIS_URL=

