# App
PORT=8000
NODE_ENV="development"

# Database
DATABASE_URL="postgresql://aanish:axnish1027@localhost:5432/db_careerslk?schema=public"

# CORS
FRONTEND_URL=https://localhost:3000

# JWT
JWT_SECRET="KMyZtwIheb4poU9ByLTRoHalODXysMMFUgyq6CjXAgy"
JWT_ACCESS_TOKEN_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="B4AzxzDkTDH3lMtZzitQ2BFe2HUv2ysmNIQnuSzAj1W"
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"

# Storage Provider: s3 | local
STORAGE_PROVIDER="s3"
MAX_FILE_SIZE_MB=10

# AWS S3
AWS_REGION="us-southeast-1"
AWS_S3_KEY_ID="your-access-key-id"
AWS_SECRET_S3_KEY="your-secret-access-key"
AWS_S3_BUCKET="your-bucket-name"

# Local Storage (if using local provider)
LOCAL_STORAGE_PATH="./uploads"

REDIS_URL=
